<!--The content below is only a placeholder and can be replaced.-->
<div class="app-container">
  <h1 class="header">
    <span class="left">Hello Johnson!</span>
    <span class="right">Report Date: {{reportDate}}</span>
  </h1>

  <div class="stats row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="name">Assessments Submitted:</div>
      <div class="value">{{numSubmitted}}/{{numAssigned}}</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="name">Grade:</div>
      <div class="value"
           [ngClass]="{'red': gradeClass ==='red', 'orange': gradeClass === 'orange', 'blue': gradeClass === 'blue', 'green': gradeClass ==='green'}">
        {{grade}}
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="name">Score:</div>
      <div class="value"
           [ngClass]="{'red': gradeClass ==='red', 'orange': gradeClass === 'orange', 'blue': gradeClass === 'blue', 'green': gradeClass ==='green'}">
        {{score}}%
      </div>
    </div>
    <div class="legend">
      <span class="title">Grades:</span> A: 90 - 100, B: 80 - 89, C: 70 - 79, D: 60 - 69, F: < 60
    </div>
  </div>
  <div>
    <svg class="line-chart"></svg>
  </div>

  <div class="controls row">
    <div class="slider col-lg-6 col-md-6 col-sm-12">
      <div class="prompt">Change the score of selected assessment:</div>
      <mat-slider  class="slider"
                   [disabled]="sliderDisabled"
                   [invert]="invert"
                   [max]="max"
                   [min]="min"
                   [step]="step"
                   [thumbLabel]="thumbLabel"
                   [(ngModel)]="sliderVal"
                   (change)="sliderChanged($event)"
                   ></mat-slider>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12" *ngIf="displayAssn">
      <div class="title">Activity Info</div>
      <div><span class="subTitle">Name:</span>  {{displayAssn.name}}</div>
      <div><span class="subTitle">Score:</span> {{displayAssn.percentageScore}}%</div>
      <div><span class="subTitle">Status:</span> {{displayAssn.status}}</div>
    </div>

  </div>
</div>


<router-outlet></router-outlet>
